body{
    margin: 0;
    padding: 0;
    outline: 0;
}
ul li{
    text-decoration: none;
}
/* Footer-Part-Css-Start  */
.text-position{
    margin-top: 20px;
    margin-left: 100px;
justify-content: center;
align-items:  center;
    /* margin-left: 200px; */
    /* display: inline-block; */
};
/* Footer-Part-Css-End. */
